/* Eggshell: #F4F1DE | Terra Cotta: #E07A5F | Indepedence: #3D405B | Green Sheen: #81B29A | Deep Champagne: #F2CC8F */

body, html {
    height: 100%;
    /* background-color: #adc178; */
}

.container {
    width: 100%;
}

h1 {
    font-family: 'Cairo', sans-serif;
    font-size: 3em;
}

#canvas {
    position:relative;
    border:5px solid;
    background-color: #FFF;
}

#zentangle {
    position: absolute;
    display: none;

}

button {
    position: relative;
}

img {
    width: 300px;
    border: 1px solid;
}

#save_zentangle {
    display: none;
}